# npm-modules

pertemuan20/js/jquery/external
pertemuan20/js/jquery/src
pertemuan20/js/jquery/AUTHORS.txt
pertemuan20/js/jquery/bower.json
pertemuan20/js/jquery/LICENSE.txt
pertemuan20/js/jquery/package.json
pertemuan20/js/jquery/README.md

pertemuan21/js/jquery/external
pertemuan21/js/jquery/src
pertemuan21/js/jquery/AUTHORS.txt
pertemuan21/js/jquery/bower.json
pertemuan21/js/jquery/LICENSE.txt
pertemuan21/js/jquery/package.json
pertemuan21/js/jquery/README.md
pertemuan21/vendor

