# npm-modules

pertemuan20/js/jquery/external
pertemuan20/js/jquery/src
pertemuan20/js/jquery/AUTHORS.txt
pertemuan20/js/jquery/bower.json
pertemuan20/js/jquery/LICENSE.txt
pertemuan20/js/jquery/package.json
pertemuan20/js/jquery/README.md

